ul {
  list-style-type: none;
  padding: 2.5rem;
  margin: 0 auto;
  max-width: 400px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

li {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  /* margin-bottom: 0.5rem; */
  color: #333;
}

li:hover {
  background-color: #06ddfa; /* Light cyan background on hover */
  transform: scale(1.02); /* Slightly enlarge the item */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow effect */

  
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  /* margin-bottom: 0.5rem; */
  color: #333;
}

li.selected {
  background-color: #fd0019; /* Light cyan background when selected */
  transform: scale(1.05); /* Slightly enlarge the item when selected */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow effect */

  
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}


/* Responsive Design */
@media (max-width: 768px) {
  ul {
    max-width: 90%;
  }

  li {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
  
  li.selected {
    background-color: #fd0019; /* Light cyan background when selected */
    transform: scale(1.05); /* Slightly enlarge the item when selected */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  }

  span {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  ul {
    max-width: 100%;
    padding: 0.5rem;
  }

  li {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
    
  li.selected {
    background-color: #fd0019; /* Light cyan background when selected */
    transform: scale(1.05); /* Slightly enlarge the item when selected */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  }

  span {
    font-size: 1rem;
  }
}